
body{
    width: 50%;
    margin: auto;
}
table{
    border-collapse:collapse ;
    border: 1px ;
   
}

td{
    width: 30px;
    height:30px;
    border: 1px solid black;
}
.cj{
    background-color: yellow;
}
.cg{
    background-color: grey;
}
.cb{
    background-color: white;
}
.cn{
    background-color: black;
}
.ce{
    background-color: blue;
}