*{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
header{
    background: grey;
    border-radius: 15px;
    padding:0;
}
h1{
    padding:1rem;
    color: aliceblue;
}
nav{
    background: lightgray;
    margin:0;
    padding:0;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-around;
}
nav a{
    color: black;
    text-decoration: none;
    width: 100%; 
    transition: background-color 1s;
    transition: color .5s;
    text-align: center;
}
a:hover{
    background-color: darkslategray;
    color: white;
}
main{
    display: flex;
    justify-content: space-around;
    height:60vh;
}
article{
    background: lightgray;
    margin:10rem auto;
    width: 100%;
    border-radius: 15px;
    text-align: center;
}
h3{
    background: gray;padding:1rem; margin: 0;
    border-radius: 15px 15px 0 0;
}
#jobDisplay{ background: lightblue;margin:0;padding:1rem;}
#ageDisplay{ margin:0;padding:1rem;}
#posteDisplay{
    display: block;
    font-style: italic;
    color: steelblue;
    font-weight: 700;
    padding:1rem auto;
    background: black;
    margin:0;
    padding:1rem;
    border-radius: 0 0 15px 15px;
}
footer{
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
}